body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  max-width: 1366px;
  margin: 0;
}
header {
  text-align: center;
}
header, ul {
  display: flex;
  flex-direction: column;
}
header img {
  margin-top: 20px;
  width: 250px;
}
nav ul {
  padding: 0 20px;
  margin: 0;
}
nav li {
  cursor: pointer;
  list-style-type: none;
  margin: 10px 0;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
}
nav li:hover {
  color: #E50914;
}

@media screen and (min-width: 600px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    margin-top: 1em;
  }
  nav li {
    border-bottom: 0;
  }
}

@media screen and (min-width: 850px) {
  header {
    flex-direction: row;
  }
  header img { margin-left: 20px; }
  nav {
    margin-top: 0;
    margin-left: auto;
  }
  ul {
    self-align: center;
  }
  nav li {
    line-height: 78px;
    margin-left: 20px;
  }
}